Source: deepin-camera
Section: utils
Priority: optional
Maintainer: Deepin Packages Builder <packages@deepin.com>
Build-Depends:
 debhelper (>=9),
 pkg-config,qtbase5-dev,libdtkgui-dev,libdtkwidget-dev,
 libavutil-dev, libavformat-dev, libavcodec-dev,
 qttools5-dev-tools,deepin-gettext-tools,libdframeworkdbus-dev,
 libv4l-dev,libsdl2-dev,portaudio19-dev,libpng-dev,libswscale-dev,
 libswresample-dev,libasound2-dev,
 libusb-1.0-0-dev,zlib1g-dev,libudev-dev
Standards-Version: 1.0.0
Homepage: http://www.deepin.org

Package: deepin-camera
Architecture: any
Depends:
 ${shlibs:Depends},
 ${misc:Depends},
 dde-api
Description: deepin-camera software for  UOS
 deepin-camera is a tool to view camera, and also a smart take photo and video in life.
