[Desktop Entry]
Categories=Video;
Comment=Camera is an image and video capture utility using your PC camera or webcam.
Exec=deepin-camera
GenericName=Camera
Icon=deepin-camera
Name=Deepin Camera
StartupNotify=false
Terminal=false
Type=Application
X-Deepin-Vendor=deepin
X-MultipleArgs=false


Comment[am_ET]=
Comment[ar]=
Comment[bg]=
Comment[bo]=པར་ཆས་ནི་སྤྱོད་ཐབས་བདེ་བའི་པར་ལེན་ཡོ་བྱད་ཞིག་ཡིན་པ་དང་།པར་ལེན་དང་བཪྙན་ཕབ་སོགས་བྱེད་ནུས་མངོན་གྱུར་བྱེད་ཐུབ།
Comment[ca]=La Càmera és una utilitat de captura d’imatges i vídeos que usa la càmera o la càmera web del PC.
Comment[cs]=Kamera je nástroj pro zachytávání obrazu a videa pomocí kamery počítače.
Comment[da]=
Comment[de]=
Comment[el]=
Comment[es]=Cámara es una utilidad de captura de imágen y video que utiliza la cámara de tu PC o cámara web.
Comment[fa]=
Comment[fi]=Kamera on kuvan ja videon sieppaustyökalu, joka käyttää tietokoneen kameraa tai verkkokameraa.
Comment[fr]=Camera est un utilitaire de capture d’images et de vidéos utilisant votre caméra intégrée ou votre webcam.
Comment[hi_IN]=
Comment[hr]=
Comment[hu]=A Kamera egy kép- és videofelvételi segédprogram, amely a számítógép kameráját vagy webkameráját használja.
Comment[id]=
Comment[it]=Camera è unapos;app di acquisizione immagini e video che sfrutta la camera integrata nel tuo dispositivo.
Comment[ja]=
Comment[ko]=
Comment[lt]=
Comment[ms]=
Comment[nl]=Met Camera kun je foto&apos;s en video&apos;s maken met je camera of webcam.
Comment[pl]=Kamera to narzędzie do przechwytywania obrazów i wideo za pomocą kamery komputera lub kamery internetowej.
Comment[pt_BR]=O Câmera é um utilitário para capturar imagens e vídeos pela webcam.
Comment[pt]=A Câmara é um utilitário de captura de imagem e vídeo que usa a câmara do PC ou webcam.
Comment[ro]=Camera - este instrumentul de capturare foto și video ce utilizează camera web a calculatorului dvs.
Comment[ru]=Камера - это приложение для захвата изображения и записи видео, используя веб-камеру вашего компьютера.
Comment[sk]=
Comment[sq]=Kamera është një mjet për bërje fotosh dhe videosh duke përdorur kamerën e PC-së tuaj ose një kamerë web.
Comment[sr]=Камера је алат за снимање видеа и слика путем камаре рачунара или мрежне камере.
Comment[sv]=
Comment[tr]=Kamera, PC kameranızı veya web kameranızı kullanan bir görüntü ve video yakalama aracıdır.
Comment[ug]=كامېرا كومپيۇتېرىڭىز ياكى كامېرا ئارقىلىق رەسىم ۋە سىنغا ئېلىش قورالى.
Comment[uk]=«Камера» — допоміжна програма для захоплення зображень та відео з відеокамери вашого персонального комп&apos;ютера або вебкамери.
Comment[zh_CN]=相机是一款简单易用的摄像头应用工具，可实现拍照、录制视频等功能。
Comment[zh_HK]=相機是一款簡單易用的鏡頭應用工具，可實現拍照、錄製影片等功能。
Comment[zh_TW]=相機是一款簡單易用的攝影機應用工具，可實現拍照、錄製影片等功能。


GenericName[am_ET]=
GenericName[ar]=
GenericName[bg]=
GenericName[bo]=པར་ཆས།
GenericName[ca]=Càmera
GenericName[cs]=Kamera
GenericName[da]=
GenericName[de]=
GenericName[el]=
GenericName[es]=Cámara
GenericName[fa]=
GenericName[fi]=Kamera
GenericName[fr]=Caméra
GenericName[hi_IN]=
GenericName[hr]=Kamera
GenericName[hu]=Kamera
GenericName[id]=
GenericName[it]=Camera
GenericName[ja]=
GenericName[ko]=
GenericName[lt]=
GenericName[ms]=
GenericName[nl]=Camera
GenericName[pl]=Kamera
GenericName[pt_BR]=Câmera
GenericName[pt]=Câmara
GenericName[ro]=Camera
GenericName[ru]=Камера
GenericName[sk]=
GenericName[sq]=Kamerë
GenericName[sr]=Камера
GenericName[sv]=
GenericName[tr]=Kamera
GenericName[ug]=كامېرا
GenericName[uk]=Камера
GenericName[zh_CN]=相机
GenericName[zh_HK]=相機
GenericName[zh_TW]=相機

Name[am_ET]=
Name[ar]=
Name[bg]=
Name[bo]=གཏིང་ཟབ་པར་ཆས།
Name[ca]=Càmera del Deepin
Name[cs]=Kamera
Name[da]=
Name[de]=
Name[el]=
Name[es]=Cámara Deepin
Name[fa]=
Name[fi]=Deepin Kamera
Name[fr]=Caméra Deepin
Name[hi_IN]=
Name[hr]=Deepin kamera
Name[hu]=Deepin Kamera
Name[id]=
Name[it]=Deepin Camera
Name[ja]=
Name[ko]=
Name[lt]=
Name[ms]=
Name[nl]=Deepin Camera
Name[pl]=Kamera Deepin
Name[pt_BR]=deepin Câmera
Name[pt]=Câmara Deepin
Name[ro]=Camera Deepin
Name[ru]=Камера Deepin
Name[sk]=
Name[sq]=Kamera Deepin
Name[sr]=Дипин Камера
Name[sv]=
Name[tr]=Deepin Kamera
Name[ug]=Deepinكامىرا 
Name[uk]=Камера Deepin
Name[zh_CN]=深度相机
Name[zh_HK]=Deepin 相機
Name[zh_TW]=Deepin 相機
